body {
  height: 1900px;
}
header {
  background-color: green;
  transition: all 0.5s ease;
}
.new {
  background-color: red;
  position: fixed;
  width: 100%;
}
.a {
  width: 250px;
}
.b {
  width: 250px;
  display: none;
}
.notice {
  width: 200px;
  height: 200px;
  background-color: skyblue;
  position: fixed;
  bottom: 0;
  display: none;
}
span {
  cursor: pointer;
}
